@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?plskqe');
    src:  url('../fonts/icomoon.eot?plskqe#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?plskqe') format('truetype'),
      url('../fonts/icomoon.woff?plskqe') format('woff'),
      url('../fonts/icomoon.svg?plskqe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-arrow_dark:before {
    content: "\e900";
  }
  .icon-arrow_light:before {
    content: "\e901";
  }
  .icon-calendar:before {
    content: "\e902";
  }
  .icon-clock:before {
    content: "\e903";
  }
  .icon-email:before {
    content: "\e904";
  }
  .icon-info:before {
    content: "\e905";
  }
  .icon-location:before {
    content: "\e906";
  }
  .icon-menu_close:before {
    content: "\e907";
  }
  .icon-menu_hamburguer:before {
    content: "\e908";
  }
  .icon-search_dark:before {
    content: "\e909";
  }
  .icon-search_light:before {
    content: "\e90a";
  }
  .icon-social_facebook:before {
    content: "\e90b";
  }
  .icon-social_youtube:before {
    content: "\e90c";
  }
  .icon-user:before {
    content: "\e90d";
  }
